<h1>Pizzas#new</h1>

<form action='/pizzas/' method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type='text' name='pizza[sauce]' placeholder='sauce' />
    <input type='text' name='pizza[toppings]' placeholder='toppings' />
    <input type='submit' value='Create' />
</form>